<a href="https://colab.research.google.com/github/andrepegoraro/Py/blob/main/Python_Harvard_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

hello.py

In [1]:
print("Hello world")

Hello world

Types of characters:

In [3]:
a = 28       #int
b = 1.5      #float
c = "Hello!" #str
d = True     #bool   
e = None     #NoneType

name.py

In [4]:
name = input("Name: ")
print("Hello, " + name) #o + concatena o input com o print

Name: Andre
Hello, Andre

In [5]:
name = input("Name: ")
print(f"Hello, {name}")

Name: Jonas
Hello, Jonas

conditions.py

In [12]:
n = input("Number: ")

if n > 0: # a "type error" is oftenly an error in which python expected one type and we wrote another
  print("n is positive")
elif n < 0:
  print("n is negative")
else:
  print("n is zero")

Number: 4

TypeError: ignored

In [ ]:
n = int(input("Number: ")) #function that tells the input that we ll accept only int entries

if n > 0: # a "type error" is oftenly an error in which python expected one type and we wrote another
  print("n is positive")
elif n < 0:
  print("n is negative")
else:
  print("n is zero")

sequences.py

In [13]:
name = "Harry"

print(name[0])

H

In [14]:
name = "Harry"

print(name[2])

r

In [16]:
names = ["Harry", "Ron", "Hermione"]

print(names)
print(names[0])

['Harry', 'Ron', 'Hermione']
Harry

sequences tuple.py

In [ ]:
coordinateX = 10.0
coordinateY = 20.0

coordinate = (10.0, 20.0)

###Data Structures

- `list` - sequence of mutable values
- `tuple` - sequence of immutable values
- `set` - collection of unique values
- `dict` - collection of key-value pairs

lists.py

In [20]:
# Define a list of names
names = ["Harry", "Ron", "Hermione", "Ginny"]

print(names[3]) #printing just one name

# but a list is muttable, so we can add items to it

names.append("Draco")

names.sort()

print(names)

Ginny
['Draco', 'Ginny', 'Harry', 'Hermione', 'Ron']

sets.py

In [22]:
# Create an empty set - if you dont care aboutthe order of the elements knowling that they're unique, use set

s = set()

# add elements to set
s.add(1)
s.add(2)
s.add(3)
s.add(4)
print(s)

{1, 2, 3, 4}

In [23]:
s = set()

# add elements to set
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(3)
print(s)

# add 3 twice. It doesnt repeat itself.

{1, 2, 3, 4}

In [24]:
s = set()

# add elements to set
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(3)

s.remove(2)
print(s)

{1, 3, 4}

In [25]:
print(f"The set has {len(s)} elements") #calculates the lenght of the set "s"

The set has 3 elements

loops.py

In [26]:
for i in [0, 1, 2, 3, 4, 5]:
  print(i)

# Creates a loop printing each of the numbers when their time comes

0
1
2
3
4
5

In [27]:
for i in range(6): 
  print (i)

# Does the same thing

0
1
2
3
4
5

In [31]:
names = ["John", "Gabriel", "Italo"]

for name in names: # perceba que nesse caso ele simplesmente ta declarando a variavel "name" no meio do codigo. Pyhton.
  print(name)

John
Gabriel
Italo

In [32]:
name = "Harry"

for character in name:
  print(character)

H
a
r
r
y

dictionaries.py

In [34]:
houses = {"Harry": "Gryffindor", "Draco": "Slytherin"}

print(houses["Harry"])

Gryffindor

In [36]:
houses = {"Harry": "Gryffindor", "Draco": "Slytherin"}

houses["Hermione"] = "Gryffindor"

print(houses["Hermione"])

Gryffindor

###Functions

functions.py

In [37]:
def square(x): #sintaxe muito semelhante ao c++
  return x * x

for i in range(10):
  print(f"The square of {i} is {square(i)}")

The square of 0 is 0
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81

squares.py

In [40]:
from Python_Harvard_Class import square # ??

for i in range(10):
  print(f"The square of {i} is {square(i)}")

ModuleNotFoundError: ignored

In [41]:
import functions

for i in range(10):
  print(f"The square of {i} is {functions.square(i)}")

ModuleNotFoundError: ignored

classes.py

In [43]:
class Point():
  def __init__(self, input1, input2):
    self.x = input1
    self.y = input2

p = Point(2, 8)
print(p.x)
print(p.y)

2
8

In [44]:
class Flight():
  def __init__(self, capacity):
    self.capacity = capacity
    self.passengers = []

  def add_passenger(self, name): #adding something to the list "passangers"
    if not self.open_seats():
      return False
    self.passengers.append(name)
    return True

  def open_seats(self):
    return self.capacity - len(self.passengers)

flight = Flight(3)

people = ["Harry", "Ron", "Hermione", "Ginny"]
for person in people:
  success = flight.add_passenger(person)
  if success:
    print(f"Added {person} to flight successfully.")
  else:
    print(f"There are no available seats for {person}")

Added Harry to flight successfully.
Added Ron to flight successfully.
Added Hermione to flight successfully.
There are no available seats for Ginny

decorators.py

In [47]:
def announce(f):
  def wrapper():
    print("About to run the function...")
    f()
    print("Done with the function.")
  return wrapper


@announce
def hello():
  print("Hello, world!")

hello()

About to run the function...
Hello, world!
Done with the function.

lambda.py

In [50]:
people = [
          {"name": "Harry", "house": "Gryffindor"},
          {"name": "Cho", "house": "Ravenclaw"},
          {"name": "Cedric", "house": "Hufflepuff"}         
]

def f(person):
  return person["house"]

people.sort(key=f)

print(people)

[{'name': 'Harry', 'house': 'Gryffindor'}, {'name': 'Cedric', 'house': 'Hufflepuff'}, {'name': 'Cho', 'house': 'Ravenclaw'}]

In [51]:
people = [
          {"name": "Harry", "house": "Gryffindor"},
          {"name": "Cho", "house": "Ravenclaw"},
          {"name": "Cedric", "house": "Hufflepuff"}         
]

people.sort(key=lambda person: person["name"])

print(people)

[{'name': 'Cedric', 'house': 'Hufflepuff'}, {'name': 'Cho', 'house': 'Ravenclaw'}, {'name': 'Harry', 'house': 'Gryffindor'}]

exceptions.py

In [56]:
import sys 

x = int(input("x: "))
y = int(input("y: "))

try:
    result = x / y
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
    sys.exit(1)

print(f"{x} / {y} = {result}")

x: hi

ValueError: ignored

In [58]:
import sys 

x = int(input("x: "))
y = int(input("y: "))

try:
    result = x / y
except ValueError:
    print("Error: invalid input.")
    sys.exit(1)

try:
    result = x / y
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
    sys.exit(1)

print(f"{x} / {y} = {result}")

x: 4
y: l

ValueError: ignored