<a href="https://colab.research.google.com/github/andrepegoraro/Py/blob/main/Revis%C3%A3o_Pandas_01_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRO

First of all, we import `Pandas` Library. Also `NumPy` for Ops and `Matplotlib.pyplot` for graphs and other stuff:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##Data Structures

##`Series`

Its an unidimensional matrix. Its basically a list that contains values, it can stock any kind of data. Here we can see Messi's amount of goals in the 5 last seasons he played in La Liga

In [2]:
goals = pd.Series([37, 34, 36, 25, 30])
goals

0    37
1    34
2    36
3    25
4    30
dtype: int64

Remember that the left column shows whats known to be the `Index` of each element of the `Series`. We can name each index, otherwise it'll be shown as numbers **starting from 0** (never forget that):

In [3]:
goals.values #Returns the values

array([37, 34, 36, 25, 30])

In [4]:
goals.index #Returns the index

RangeIndex(start=0, stop=5, step=1)

In [5]:
goals = pd.Series([37, 34, 36, 25, 30], index = ['Season 16-17', 'Season 17-18', 'Season 18-19', 'Season 19-20', 'Season 20-21'])
goals

Season 16-17    37
Season 17-18    34
Season 18-19    36
Season 19-20    25
Season 20-21    30
dtype: int64

In [6]:
goals['Season 18-19'] #To acess a value by its index

36

We can also do math ops with the data without even changing the String's former values:

In [7]:
goals**2

Season 16-17    1369
Season 17-18    1156
Season 18-19    1296
Season 19-20     625
Season 20-21     900
dtype: int64

In [8]:
goals #The values are still the same as the former ones

Season 16-17    37
Season 17-18    34
Season 18-19    36
Season 19-20    25
Season 20-21    30
dtype: int64

In [10]:
goals = goals - 10 #Now indeed changing them
goals

Season 16-17    17
Season 17-18    14
Season 18-19    16
Season 19-20     5
Season 20-21    10
dtype: int64

##Statistics Basic Opearations

We can use stat functions to work with the `String`:

In [16]:
goals = goals - 10
goals

Season 16-17    37
Season 17-18    34
Season 18-19    36
Season 19-20    25
Season 20-21    30
dtype: int64

In [17]:
goals.mean()

32.4

In [18]:
goals.median()

34.0

In [19]:
goals.std()

4.9295030175464944

In [20]:
goals.describe() #Which apparently is the equivalent of the "Summary(DataSet)" funtion in RStudio

count     5.000000
mean     32.400000
std       4.929503
min      25.000000
25%      30.000000
50%      34.000000
75%      36.000000
max      37.000000
dtype: float64

###`DataFrame`

Lets review how we can create one. This time in Python, not in R:

In [24]:
data = pd.DataFrame({'Season' : ['14-15', '15-16', '16-17', '17-18', '18-19'],
                     'Goals' : [39, 30, 20, 28, 23],
                     'Assists' : [8,18, 19, 16, 13]})
data

  Season  Goals  Assists
0  14-15     39        8
1  15-16     30       18
2  16-17     20       19
3  17-18     28       16
4  18-19     23       13

This `DataFrame` show Neymar's performance (club only) in 5 different seasons. We can get some basic infos of the dataframe by using <font color = "orange">**`.info()`**</font> :

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   5 non-null      object
 1   Goals    5 non-null      int64
 2   Assists  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

By using this, we got some important info:

- 5 lines
- 3 columns
- columns's `types`
- `DataFrame` storage usage

In [26]:
data.mean() #We can do those same ops that we did with the strings

Goals      28.0
Assists    14.8
dtype: float64